extends layout

block content
  h3 Contáctenos
  form(action='/contact' method='post' class='form-horizontal' role='form')
    .form-group
      label.col-sm-3.control-label Nombre
      .col-sm-9
        input(type='text' name='name' class='form-control')
    .form-group
      label.col-sm-3.control-label Correo Electrónico
      .col-sm-9
        input(type='email' name='email' class='form-control')
    .form-group
      label.col-sm-3.control-label Comentario
      .col-sm-9
        textarea(name='comment' class='form-control' rows='3')
    .form-group
      .col-sm-offset-3.col-sm-9
        button(type='submit' name='send' class='btn btn-primary') Enviar
