doctype html
html
  head
    title= title
    != css('application.css')
  body
    mixin menu(url, label)
      - path = path === undefined ? '/' : path
      li(class=(path === url ? 'active' : ''))
        a(href=url)= label

    .container
      .header
        ul.nav.nav-pills.pull-right
          +menu('/', 'Home')
          +menu('/about', 'About')
          +menu('/contact', 'Contact')
        h3.text-muted HanaDevel

      block content

      .footer
        p &copy; HanaDevel #{new Date().getFullYear()}

    != js('application.js')
